<div>
  <div>
    <label for="name">Name</label>
  </div>
  <input [(ngModel)]="name" type="text" name="name">
</div>
<!-- titlecase is a built in pipe -->
<p>{{ name | titlecase }}</p>

<div>
  <div>
    <label for="date">Date</label>
  </div>
  <input [(ngModel)]="dateInput" type="date" name="date">
</div>
<!-- date is a built in pipe -->
<p>{{ dateInput | date:'fullDate' }}</p>
<p>{{ dateInput | date:'MMMM, d: y' }}</p>

<div>
  <div>
    <label for="amount">Amount</label>
  </div>
  <input [(ngModel)]="amount" type="number" name="amount" min="0">
</div>
<!-- currency is a built in pipe -->
<p>{{ amount | currency:'EUR' }}</p>

<div>
  <div>
    <label for="height">Height</label>
  </div>
  <input [(ngModel)]="height" type="number" name="height" min="0">
</div>
<!-- currency is a built in pipe -->
<p>{{ height | number: '1.1-4' }}</p>
<p>{{ height | number: '1.1-2' }}</p>
<p>{{ height | number: '1.0-0' }}</p>
<p>{{ person | json }}</p>

<div>
  <div>
    <label for="miles">miles</label>
  </div>
  <input [(ngModel)]="miles" type="number" name="miles" min="0">
</div>
<p>{{ miles | convert }}</p>
<p>{{ miles | convert | number:'1.0-2'}}</p>
<p>{{ miles | convert:'meters' }}</p>
<p *ngIf="(miles | convert) > 10">{{ miles }}</p>
<p *ngIf="(miles | convert:'meters') < 10">{{ miles | convert:'meters'}}</p>
